* {
  margin: 0;
  padding: 0;
}
body {
  background-color: whitesmoke;
}
.container {
  width: 100%;
  background-color: whitesmoke;
}
.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.item {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  padding: 9px;
  margin: 6px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 9px;
}
input {
  padding: 9px;
  border-radius: 5px;
  border: none;
}
input:focus {
  outline: none;
}
.header {
  background-color: rgb(95, 95, 243);
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.header h2 {
  color: white;
}
.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 28px;
  margin-top: 36px;
}
.item-description {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0.8rem;
}
.item-description span {
  background-color: rgb(231, 142, 231);
  color: white;
  padding: 3px 9px;
  border-radius: 3px;
  margin-left: 6px;
}
.price {
  font-weight: bolder;
  font-size: 1.5rem;
}
.cart-btn {
  background-color: rgb(94, 94, 240);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 3px;
  font-weight: bolder;
  cursor: pointer;
}
.cart-btn:hover {
  background-color: rgb(53, 53, 202);
}
.cart-icon img {
  width: 30px;
  height: 30px;
}
.cart-icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
}
.cart-count {
  position: absolute;
  right: -8px;
  bottom: 0;
  color: white;
  background-color: rgb(231, 142, 231);
  width: 15px;
  height: 15px;
  padding: 2px;
  text-align: center;
  line-height: 15px;
  border-radius: 50%;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.card-display {
  position: absolute;
  background-color: bisque;
  width: 240px;
  top: 42px;
  bottom: 0;
  right: 0;
  max-height: 500px;
  overflow-y: scroll;
  padding: 10px;
  height: fit-content;
}
.cart-item {
  display: flex;
  justify-content: space-between;
}
.product-name {
  display: flex;
  align-items: center;
  gap: 9px;
}
.buttons-container {
  display: flex;
  gap: 12px;
  align-items: center;
}
.product-name img {
  width: 40px;
  object-fit: cover;
  object-position: center;
}
.green-btn {
  background-color: rgb(93, 207, 93);
  padding: 2px 4px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 1rem;
}

.green-btn:hover {
  background-color: rgb(29, 209, 29);
}
